@import "../../variables.module.scss";

.languageButton {
  background: none;
  border: none;
  // padding: 0 8px;
  font-family: $font-secondary;
  color: $color-secondary-100;
  font-size: 2em;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}

.languageButton:hover {
  color: $color-secondary-200;
}

.currentLanguage {
  color: $color-secondary-300;
  text-shadow: 1px 0px 2px $color-secondary-300;
  }

@media screen and (min-width: $laptop) {
  .languageButton {
    font-size: 32px;
    font-weight: 400;
  }
}
