@import "../../variables.module.scss";

.container {
    display: block;
}

.icon {
    color: $color-primary;
    width: 64px;
    height: 64px;
    margin-left: 20px;
}

@media screen and (min-width: $laptop) {
    .container{
        display: none;
    }
}