@import "../../variables.module.scss";

.listItem {
  display: block;
  list-style: none;
  padding: 25px 0px;
  width: 100%;
  text-align: center;
}
a {
  color: $color-primary;
  text-decoration: none;
  font-size: 2em;
  font-weight: 500;
  transition: 0.3s;

  .labelContainer {
    display: block;
    padding: 15px 0px;
  }
}

.active {
  color: $color-quaternary;
}

@media screen and (min-width: $laptop) {
  .listItem {
    display: inline;
    text-align: left;
    margin: 0 30px;

    a {
      font-family: $font-secondary;
      font-size: 16px;
      font-weight: 400;

      .labelContainer {
        display: inline-block;
        padding: 30px 0;
      }
    }

    a:hover {
      color: $color-tertiary;
    }
  }
}
