@import "../../variables.module.scss";

.listItem {
  display: block;
  list-style: none;
  padding: 23px 0px;
  width: 100%;
  text-align: center;
}
a {
  color: $color-secondary-100;
  text-decoration: none;
  font-size: 2em;
  font-weight: 500;
  transition: 0.3s;

  .labelContainer {
    display: block;
    padding: 12px 0px;
  }
}

a:hover {
  color: $color-secondary-200;  
}

.active {
  color: $color-secondary-300;
  text-shadow: 1px 0px 2px $color-secondary-300;
}

@media screen and (min-width: $laptop) {
  .listItem {
    display: inline;
    padding: 4px 8px;

    a {
      font-family: $font-secondary;
      font-size: 32px;
      font-weight: 400;

      .labelContainer {
        display: inline-block;
        padding: 4px 8px;
      }
    }

  }
}
