@import "../../variables.module.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px;

  .tag {
    @include header1;
    font-size: 36px;
  }
}

@media screen and (min-width: $tablet) {
  .container {
    .tag {
     @include header1;
    }
  }
}

