@import "../../variables.module.scss";

.container {
  background-color: $color-tertiary-000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  
  .innerContainer {
    max-width: $appWidth;
    height: 100%;
    margin: 0 auto;
  }
}
