@import "../../variables.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.circle {
    background-color: $color-primary;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 40px;
}

.a {
    color: $color-tertiary;
    text-decoration: none;
    margin: 0 10px;
}

.label {
    width: 80px;
    text-align: center;
}