@import "../../variables.module.scss";

.container {
  margin: 0 2px 30px 2px;
  color: $color-primary;
  display: flex;
  flex-direction: column;
  align-items: center;

  .firstLine {
    font-size: 34px;
    font-family: $font-primary;
    margin: 20px 0 0 0;
    text-align: center;
  }

  .secondLine {
    font-size: 24.5px;
    font-family: $font-secondary;
    text-align: center;
    margin: 20px 0 0 0;
    width: 230px;
  }
}

@media screen and (min-width: $laptop) {
  .container {
    margin: 0 2px;
    justify-content: center;

    .firstLine {
      font-size: Min(10vw, 100px);
      height: 80px;
      margin: 0 0 40px 0 ;
    }

    .secondLine {
      font-size: 31px;
      font-weight: 100;
      height: auto;
      width: 300px;
    }
  }
}
