@import "../../variables.module.scss";

.container {
  flex-shrink: 2;
  flex-basis: 210px;
  margin: 0 2px 30px 2px;
  color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.firstLine {
  font-size: 2.1em;
  font-family: $font-primary;
  text-align: center;
  position: relative;
  top: -400px;
  height: 10px;
}

.secondLine {
  font-size: 1.4em;
  font-family: $font-secondary;
  text-align: center;
  position: relative;
  top: -150px;
  height: 10px;
}

@media screen and (min-width: $laptop) {
  .container {
    margin: 0 0 0 30px;
    flex-basis: 500px;
    justify-content: center;
  }

  .firstLine {
    font-size: 2.5em;
    height: 53px;
  }

  .secondLine {
    font-size: 1.6em;
  }
}
