@import "../../variables.scss";

.container {
    flex-shrink: 1;
    flex-basis: 600px;
    margin: 0 0 0 40px;
    color: $color-tertiary;
}

.firstLine {
    font-size: 3em;
    
}

.secondLine {
    font-size: 2em;
}