@import "../../variables.module.scss";

.container {
  display: block;
 

  .photo {
    max-width: 230px;
    margin: 32px 0;
  }
}

@media screen and (min-width: $tablet) {
  .container {
    .photo {
      max-width: none;
      width: auto;
      height: 400px;
      margin: 40px;
    }
  }
}
