@import "../../variables.scss";

.label {
    background-color: $color-tertiary;
    border-radius: 4px;
    color: $color-secondary;
    font-size: 20px;
    width: 130px;
    height: 33px;
    position: relative;
    padding-left: 40px;
    margin-top: 20px;
   
}

.label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid $color-quaternary;
    border-radius: 4px;
    width: 95%;
    height: 90%;
  
    transform: rotate(-3deg);
   
}

@media screen and (min-width: $tablet) {
    .label {
        margin-left: -40px;
    }
}