.container {
    max-width: 540px;
    margin: 0 auto;
    overflow-x: hidden;
    
}

.carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: -180px;
    padding-left: 90px;
    // padding-right: 90px;
    
}

.slideLeft {
    transition: padding-left 1s;
    padding-left: 0;
}

.slideRight {
    transition: padding-left 1s;
    padding-left: 180px;
}