@import "../../variables.module.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.listContainer {
  display: none;
}

.label {
  padding-top: 90px;
  margin: 0 30px;
}

@media screen and (min-width: $laptop) {
  .container {
    display: block;
    margin-bottom: 0;
  }
  .listContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
