$color-primary: #525973;
$color-secondary: #ececec;
$color-tertiary: #00223e;
$color-quaternary: #ce480b;

$font-primary: 'Young Serif', serif;
$font-secondary: "Sen", sans-serif;

$appWidth: 1800px;
$tablet: 426px;
$laptop: 769px;

$menuHeight: 90px;
$carouselMove: 400ms;

:export {
  carouselMove: $carouselMove;
  menuHeight: $menuHeight;
}

