$color-primary: #525973;
$color-secondary: #ececec;
$color-tertiary: #00223e;
$color-quaternary: #ce480b;

$appWidth: 1024px;
$tablet: 426px;
$laptop: 769px;

$menuHeight: 80px;
$carouselMove: 400ms;

:export {
  carouselMove: $carouselMove;
}
