@import "../../variables.module.scss";

.btn {
  background: none;
  border: none;
  color: $color-quaternary;
  cursor: pointer;
  font-size: 6vw;
  font-family: $font-secondary;
  position: relative;
  top: -10vw;
  transition: color .2s;
}

.btn:hover {
    color: $color-tertiary;
}

@media screen and (min-width: $tablet) {
  .btn {
    font-size: 4.5vw;
  }
}

@media screen and (min-width: $laptop) {
    .btn {
      font-size: 28px;
      top: -8vw;
    }
  }