@import "../../variables.module.scss";

.frame {
  $frameBorder: solid 1px $color-tertiary;

  border: $frameBorder;
  border-radius: 3px;
  width: 18%;
  box-shadow: -9px 13px 39px -23px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: -9px 13px 39px -23px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: -9px 13px 39px -23px rgba(0, 0, 0, 0.85);
  position: relative;
  top: -28vw;
  left: 5vw;
  margin-bottom: -60px;

  .frameHeader {
    background-color: $color-secondary;
    height: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: $frameBorder;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @mixin frameDot {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      margin-right: 6px;
    }

    .dotPrimary {
      @include frameDot;
      background-color: $color-primary;
      margin-left: 15px;
    }

    .dotTertiary {
      @include frameDot;
      background-color: $color-tertiary;
    }

    .dotQuaternary {
      @include frameDot;
      background-color: $color-quaternary;
    }
  }

  .image {
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

@media screen and (min-width: $laptop) {
  .frame {
    margin-bottom: 0;
  }
}