@import "../../variables.module.scss";

@mixin arrow {
  position: absolute;
    z-index: 2;
    top: 40%;
    width: 48px;
    color: $color-primary;
    cursor: pointer;
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .closeIcon {
    cursor: pointer;
    margin-left: 20px;
    color: $color-primary;
  }

  .slideLeft {
    @include arrow;
    transform: rotate(180deg);
  }

  .slideRight {
    @include arrow;
    right: 0;
  }

  .frame {
    height: auto;
    margin: 0 0 0 4px;
    overflow: hidden;
    transition: margin 0.4s;
    transition-timing-function: ease-in;
  }

  .slide2 {
    margin: 0 0 0 -100vw ;
  }

  .slide3 {
    margin: 0 0 0 -200vw ;
  }
}
