@import "../../variables.module.scss";

.container {
  background-color: $color-secondary;
  min-height: 100vh;
}

.innerContainer {
  max-width: $appWidth;
  height: 100%;
  margin: 0px auto;
  padding-bottom: 30px;

  h2 {
    font-family: $font-primary;
    font-size: 40px;
    font-weight: 300;
    color: $color-primary;
    text-align: center;
    padding: 20px 0 0 0;
    margin-top: 0;
  }
}
