@import "../../variables.module.scss";

.container {
  position: fixed;
  top: $menuHeight;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .closeIcon {
    cursor: pointer;
    margin-left: 20px;
    color: $color-primary;
    transform: translateY(-64px);
  }

  .frame {
    height: auto;
    margin: 0px 0 0px 4px;
    overflow: hidden;
    transform: translateY(-64px);
  }
}
