@import "../../variables.module.scss";

.tileContainer {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 0 4px;
    background-color: $color-secondary-dark;
    border-radius: 8px;
}