@import "../../variables.module.scss";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.stackIcon {
  width: 30px;
  height: 30px;

  margin: 0 4px;
}

@media screen and (min-width: $tablet) {
  .container {
    justify-content: flex-start;

    h5 {
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: $laptop) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }
}
