@import "../../variables.module.scss";

.descriptionContainer {
    .tileHeader {
        color: $color-primary;
        font-family: $font-primary;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }

    p {
        color: $color-primary;
        font-family: $font-secondary;
        font-size: 16px;
    }

    .buttonsContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 16px 0;
        cursor: auto;
    }
}