@import "../../variables.module.scss";

.formContainer {
  width: 100%;
  max-width: 860px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .formLine {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;


    .formElement {
      display: flex;
      flex-direction: column;
      margin: 0 0 10px 0;
      

      .inputCell {
        background-color: $color-secondary;
        border: solid 1px $color-primary;
        height: 47px;
        width: 300px;
        box-sizing: border-box;
      }

      .inputCell:focus {
        border-radius: none;
        border: solid 2px $color-tertiary;
      }
    }
  }
}
