@import "../../variables.module.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 860px;

  .infoDiv {
    text-align: center;
    h3 {
      font-family: $font-secondary;
    }
    p {
      font-family: $font-primary;
      font-size: 20px;
      color: $color-primary;
    }
  }
}

@media screen and (min-width: $laptop) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    width: 768px;

    .infoDiv {
      margin: 0 24px;

      p{
        font-size: 18px;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .container {
    width: auto;
    .infoDiv {
      margin: 0 32px;
    }
  }
}
