@import "../../variables.module.scss";

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin backgroundAndBorder {
  background-color: $color-secondary;
  border: solid 1px $color-primary;
}

@mixin cellProperties {
  @include backgroundAndBorder;
  width: 300px;
  margin-top: 5px;
  box-sizing: border-box;
}

.formContainer {
  @include flexColumn;
  width: 100%;
  max-width: 860px;
  margin: 40px 0;
  align-items: center;

  .formLine {
    @include flexColumn;
    width: 100%;
    justify-content: center;

    .formElement {
      @include flexColumn;
      margin: 0 0 10px 0;

      .inputCell {
        @include cellProperties;
        height: 47px;
        padding: 3px 3px 3px 20px;
      }

      .inputCell:focus {
        border-radius: none;
        border: solid 2px $color-tertiary;
      }
    }
  }

  .formMessage {
    @include flexColumn;
    margin: 0 0 10px 0;

    .inputCell {
      @include cellProperties;
      height: 141px;
      padding: 10px 3px 3px 20px;
      resize: none;
    }

    .inputCell:focus {
      border-radius: none;
      border: solid 2px $color-tertiary;
    }
  }

  .submitButton {
    @include backgroundAndBorder;
    border-radius: 24px;
    margin-top: 30px;
    height: 47px;
    width: 150px;
    font-family: $font-secondary;
    font-size: 20px;
    color: $color-primary;
    float: left;
    cursor: pointer;
    transition: all 0.5s;
  }
  .submitButton:hover {
    background-color: $color-primary;
    border: solid 1px $color-tertiary;
    color: $color-secondary;
  }

  .sendInfo {
    margin-top: 55px;
    text-align: center;
    color: $color-quaternary;
  }
}

@media screen and (min-width: $tablet) {
  .formContainer {
    .formLine {
      .formElement {
        .inputCell {
          width: 380px;
        }
      }
    }
    .formMessage {
      .inputCell {
        width: 380px;
      }
    }
  }
}

@media screen and (min-width: $laptop) {
  .formContainer {
    margin: 60px 0;

    .formLine {
      flex-direction: row;
      gap: 30px;
      margin: 0 0 20px 0;
      .formElement {
        .inputCell {
          width: 325px;
        }
      }
    }
    .formMessage {
      .inputCell {
        width: 680px;
      }
    }

    .submitButton {
      float: right;
    }
  }
}
