@import "../../variables.module.scss";

.formElement {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;

  .inputCell {
    background-color: $color-secondary;
    border: solid 1px $color-primary;
    border-radius: 0;
    outline: none;
    width: 300px;
    margin-top: 5px;
    box-sizing: border-box;
    height: 47px;
    padding: 3px 3px 3px 20px;
  }

  .inputCell:focus {
    border-radius: none;
    border: solid 2px $color-tertiary;
  }
}

@media screen and (min-width: $tablet) {
  .formElement {
    .inputCell {
      width: 380px;
    }
  }
}

@media screen and (min-width: $laptop) {
  .formElement {
    .inputCell {
      width: 325px;
    }
  }
}
